
@import url('https://googleapis.com');

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
      width: 100vw;
    height: 100vh;

      /* border: 2px solid #e71a1a;  */
      /* border-radius: 2px;    */
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


/* The Adaptive Frame Block */
.signboard-container {
    background-color:#0b0b0b;
    height: 150px;
    width: 150px; 
    aspect-ratio: 1 / 1; 
    container-type: inline-size; 
    box-sizing: border-box;
}

.led-screen {
    background-color: #000000;
    height: 150px;            
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
    padding: 0;   
    margin: 0 auto;            
    border: 2px solid ; 
    outline: none !important;
}

.board-table {
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #f1eaea;
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
    table-layout: fixed;
}

.col-param { width: 50%; text-align: left; padding-left: 2px !important; }
.col-count { width: 25%; text-align: center; }
.col-unit  { width: 25%; text-align: center; }

.col-count { 
    text-align: center; 
    width: 20%; 
}

.col-unit { 
    text-align: center; 
    width: 20%; 
}

.board-table th,
.board-table td {
    border: 1px solid #f1eaea;
    padding: 1px;
    box-sizing: border-box;
}
/* .board-table tr:first-child th { border-top: none !important; } */
/* .board-table tr:last-child td  { border-bottom: none !important; } */
/* .board-table td:first-child,  */
/* .board-table th:first-child    { border-left: none !important; } */
/* .board-table td:last-child,  */
/* .board-table th:last-child     { border-right: none !important; }    */
/* .col-param { width: 44%; text-align: left; padding-left: 2px !important; } */
/* .col-count { width: 28%; text-align: center; } */
/* .col-unit  { width: 28%; text-align: center; } */

.main-header { color: #00e5ff; font-size: 9px; }
.date-cell   { color: #ffffff; font-size: 15px; text-align: right; padding-right: 2px; }
.time-cell   { color: #ffffff; font-size: 15px; text-align: left; padding-left: 2px; }

.column-headers th { color: #00e5ff; font-size: 10px; }

.param-cell { 
    color: #ff6600; 
    font-size: 7.6px !important; /* Adjust font size here */
    text-align:center; 
    padding-left: 2px !important;
    image-rendering: pixelated;
    font-smooth: never;
   -webkit-font-smoothing: none;

}
.conc-cell  { color: #00ff66; font-size: 15px; }
.unit-cell  { color: #ff3333; font-size: 15px; }

.board-table .date-cell,
.board-table .time-cell {
    border: none;
}

.main-header {
    color: #00e5ff;
    font-size: 12px; 
    line-height: 15px;
    letter-spacing: 0.2px;
    padding: 0.5cqw 0;
}

.date-cell {
    text-align: left;
    padding: 0.5cqw 0.5cqw;
    font-size: 4.2cqw;
    color: #ffffff;
    white-space: nowrap;
    border-top: 1px solid #555555 ;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
}
    .time-cell {
    text-align: center;
    /* padding-inline:3cqw ;  */
    font-size: 4.2cqw;
    color: #ffffff;
    white-space: nowrap;
    border-top: 1px solid #555555 ;
    border-left: 1px solid #555555 ;
    border-bottom: 1px solid #555555 ;
    border-right: 1px solid #555555;
}



.column-headers th {
    color: #00e5ff;
    font-size: 5cqw;
    padding: 0.9cqw 0;
}

.board-table td {
    font-size: 4.6cqw;
    
}

.param-cell { color: #ff6600; }
.conc-cell  { color: #00ff66; }
.unit-cell  { color: #ff3333; }

.unit-special {
    text-transform: none !important;
}

.hidden-led-row {
    display: none;
}
* {
    outline: none !important;
}
